  .act-layout{width: 960px; margin: 0 auto;}
.act-head{text-align: center; padding-top: 60px; position: relative;}
.act-head h1{color: #d5392d; font-size: 30px; padding: 0 20px 20px 20px; }
.act-h-con{color: #666; line-height: 2.0;}
.act-h-con-tip{padding-top: 10px;}
.act-h-con-tip a{color: #d5392d; text-decoration: underline;}
.act-head-btn-area{position: absolute; top:140px; right: 40px;}

a.act-btn:hover{text-decoration: none;}
.act-btn{display: inline-block; *display: inline; *zoom:1; color: #fff; border-radius: 4px; border: 0 none; background: #d5392d; padding: 10px; margin-right: 10px;}
.dialog .act-status1,
.act-status1{background: #b6ac98;}
.dialog .act-status2,
.act-status2{background:#86b3db; border: 1px solid #86b3db; color: #fff;}

.act-ul{overflow: hidden; margin-left: -10px; padding:30px 0;}
.act-ul li{float: left; margin: 0 0 10px 10px; width: 180px; height: 180px; background: #bbb; overflow: hidden; position: relative;}
.act-ul li:hover .act-func-area{display: block;}
.act-ul li img{min-width: 180px; min-height: 180px;}
.act-func-area{display: none; position:absolute; bottom: 0; background:#fb5396; height: 24px; padding-top: 6px; left: 0; width: 100%; color: #fff; overflow: hidden;}

.weibo-name{float: left; padding-left: 10px;}
.act-love{float: right; padding-left: 20px; padding-right: 10px; background: url(img/act-love.png) 0 0 no-repeat; vertical-align: middle;}
.act-ul li a{display: block; width: 180px; height: 180px; overflow: hidden;}
.act-ul li a {
display: block;
width: 180px;
height: 180px;
overflow: hidden;
line-height: 180px;
}
.act-ul li a img{display:inline-block; *display:inline; zoom:1;}

.back-home{position: absolute; top:140px; left: 0; display: block;}
/* 活动大图 */

.btn-love{display: inline-block; *display:inline; *zoom:1; width: 14px; height: 18px; margin-right: 6px;  background: url(img/act-love.png) 0 0 no-repeat; vertical-align: middle;}
.btn-goback{padding: 10px 20px; position: absolute; top:20px; left: 0; font-size: 16px; font-weight: bold;}
.act-big-img-area{position: relative; padding-bottom: 30px;}
.act-big-img-area img{display: block; max-width: 100%; margin: 0 auto 40px auto;}
.act-big-img-area h4{font-size: 30px; padding: 20px 0 40px 0; text-align: center;}
.act-img-weibo-name{color: #85B2DA;}

/* 猫爪奖品 */
.act-big-img-area-intro h1{font-size: 30px; padding-top:30px;}
.act-big-img-area-intro p{font-size: 14px; color: #666; padding: 20px 0;}
.act-big-img-area-intro .big-font{font-size: 22px; font-weight: bold; color: #666;}
.act-big-img-area-intro .strong-font{font-size: 16px; font-weight: bold; color: #666;}
.special-color{color: #8BB5DB; font-size: 18px; font-weight: bold;}

/* 猫爪弹窗 */
.up-img-area{width: 180px; height: 180px; background:#ddd url(img/up-img-bg.png) center center no-repeat; border-radius: 10px; margin: 40px auto 10px auto;}
.up-link{color: #d5392d; text-decoration: underline;}
/* 选择文件 */
.up-input{display: block; margin:0 auto; position: relative; z-index: 10; width: 180px;}

/* 猫爪后台 */
   .manage-area{padding-top: 60px;}

   .manage-head a{color: #000;}
    .manage-head a.current{color: #f00; font-weight: bold;}

 .manage-input{display: inline-block; *display:inline; *zoom:1; background:none; border:0 none; background:#ddd; padding: 4px 10px; width: 30px;}
.manage-btn{display: inline-block; *display:inline; *zoom:1; background:#b9d8f0; padding: 4px 10px; color: #000; border-radius: 6px;}
.m-status1-btn{background: #ffcc99;}
.m-status2-btn{background:#ff7a4d; color:#fff;}
.manage-btn:hover{text-decoration: none;}
.manage-item{overflow: hidden; font-size: 12px; width: 320px; float: left; padding-top: 40px;}
.manage-item img{width: 80px; height: 80px; float: left; margin-right: 20px;}
.manage-item p{line-height: 1.5; padding-bottom: 4px;}

.manage-line{clear: both; border-bottom: 1px solid #ddd; padding-top: 30px;}
.manage-head .sort-link{color: #666; margin-right: 10px; font-size: 12px;}
.sort-link em{margin-left: 4px;}
.manage-head .sort-current{color: #444;}
