*{padding: 0; margin: 0;}
body,input{font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
a,label, :focus {outline: 0 none;}
a,img {border: 0 none;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
em,i{font-style: normal;}
ul,li,ol,dl{list-style: none;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after{display:block;content:"\20";height:0;clear:both;overflow:hidden;visibility:hidden;}
.clearfix{*zoom:1;}
html,body{ height: 100%; width: 100%; font-size: 14px; color: #333; background:#fcb3ad;}
html{overflow: hidden;}
body{overflow: auto;}
.tl-c{text-align: center;}

      .act-layout{width: 100%; height: 100%; overflow: auto; background:#fcb3ad; color: #333; position: relative;}
      .act-input{height: 24px; line-height: 24px; padding: 0px 10px 2px 10px; width: 170px; background: none; border:0 none; background: url(img/area-bg.png) 0 bottom repeat-x;
font-size: 14px; 
      }

      .act-container{ width: 776px; height:660px; padding-top: 40px; margin:0 auto; 
background: url(img/active-bg.png) center 0 no-repeat;
      }
.act-title{padding-top: 40px; font-size: 18px; height: 20px; font-weight: bold; position: relative; z-index: 10; margin-bottom: -40px;}
.act-form{ padding-left: 120px; width: 500px; line-height: 1.5;}
.act-f-top{padding: 70px 0 60px 0;}
.act-f-mid{padding: 0 0 60px 0;}

.act-textarea{display: block; width: 500px; height: 180px; line-height: 30px; overflow: auto; background: none; border: 0 none; background: url(img/area-bg.png) repeat; font-size: 14px;}

.act-sub,
.act-close-btn{padding: 10px 40px; display: inline-block; *display: inline; zoom:1; margin-top:10px; background: #a48536; border: 0 none; font-size: 16px; color: #fff; 
	font-weight: bold; text-align: center; border-radius: 6px; cursor: pointer;}
.act-close-btn{background:#408219;}

	.act-check-container{display: inline-block; *display: inline; zoom:1; vertical-align: middle;}

.input-tip{text-align: right; padding-top: 4px;}
	.red-error{color: red;}
.act-suc-tip{text-align: center; padding-top: 260px;}
	    .gray-bg{background:#222; opacity:0.9; filter:alpha(opacity=90); position:absolute; top:0; left:0; *zoom:1; width:100%; height:100%; min-height:740px;}
.act-dia-con{position: absolute; top:100px; left: 50%; margin-left: -200px; width: 400px; background:#fff; border-radius: 10px; padding:20px 0; font-size: 16px; text-align: center; line-height: 1.5; color: #ff7e00;}

/* 后台表格 */
.act-table{margin: 40px 40px 20px 40px; padding: 10px; border: 1px solid #ccc; border-collapse:separate;}
.act-table th{background:#f6f6f6; border-bottom: 1px solid #ccc; padding: 6px 0; font-weight: bold; text-align: left;}
.act-table td{padding: 10px 10px 10px 0px; vertical-align: top; border-bottom: 1px solid #ccc;}
.spe-col{color: #2693ff;}

  	.page{margin-right: 40px; margin-bottom: 40px; text-align: right;}
  	 .page a{display: inline-block; *display: inline; zoom:1; margin: 0 4px; border: 1px solid #ccc; color: #333; padding: 4px 10px; border-radius: 6px;}
  	 .page a.current{color: red;}