/* 弹框区域 */
.gray-bg{background:#222; opacity:0.9; filter:alpha(opacity=90); position:absolute; top:0; left:0; *zoom:1; width:100%; height:100%; min-height:740px;}
.dialog{width: 400px; border-radius: 2px; min-height: 200px; _height:200px; border: 1px solid #ddd; position: absolute; top:200px; left: 50%; margin-left: -200px; background: #fff;
box-shadow: 0 0 10px #333;}
.dialog-head{position: relative; padding: 26px; height: 26px;}
.dia-title{font-size: 18px; line-height: 1.5; color: #000; text-align: center; *font-weight: bold;}
.close-ico{position: absolute; top:20px; right: 20px; color: #ff7e00; font-weight: bold; cursor: pointer;
height: 16px; width: 16px; background: url(img/dialog-close-btn.png) 0 0 no-repeat; text-indent: -100px; overflow: hidden;}
/*.close-ico:hover{background-position: 0 -20px;}*/
.dialog-con{padding: 0 40px 40px 40px;}
.dia-sub-tip .dia-st-tip,
.dia-form-tip{font-size: 14px; line-height: 1.5; color: #333; margin-bottom: 10px;}

/* 直接弹框提示 */
.dia-sub-tip{text-align: center;}
.dia-sub-tip .dialog-head{display: none;}
.dia-sub-tip .dia-st-tip{margin-bottom: 20px; padding-top: 40px;}

.dialog .text-area,
.dialog .global-input{border:1px solid #e5e5e5; border-radius: 3px;  background: #fff; padding: 10px; margin-bottom: 6px; width:298px;}
.dialog .btn{padding: 0 40px; *padding:0 20px; margin-top: 10px; height: 38px; line-height: 38px; font-size: 16px; border-radius: 3px; background: #fafafa;}
.dialog .status1-btn{background: #d11c08;}
.dialog .code-btn{width:60px; padding:0 14px; margin:0 0 0 10px; height: 42px; line-height: 42px; vertical-align: middle; font-size: 12px; *margin-top:-38px;}
/* 只有一个按钮的区域 */
.single-btn-area{padding-top: 10px; text-align: center;}
.single-btn-area .btn{margin-right: 0;}

.dialog input.long-btn{width: 320px;}
.dialog .long-btn{margin-right: 0;  width: 238px; *width:278px;}
.dialog .text-area:focus,
.has-bor-input:focus{box-shadow: inset 0 0 8px #eaeaea;}

/* 去除边框区域 */
.dialog .no-border-b{border-radius: 3px 3px 0 0; border-bottom: 0 none; margin-bottom: 0; *margin-bottom: -1px;}
.dialog .no-border-t{border-radius: 0 0 3px 3px;}
.dialog .no-border{border-radius: 0; border-bottom: 0 none; margin-bottom: 0; *margin-bottom: -1px;}
/* 记住密码区域 */
.pass-area{font-size: 12px; overflow: hidden; padding-top:10px; color: #7f7f7f;}
.pass-area label{float: left;}
.pass-area a{float: right; color: #7f7f7f; vertical-align: middle; }

/* 生日牌 */
.birth-bg{display: block; margin: 0 auto 20px auto;}

/* 蜡烛弹框 */
.check-candle-area{}
.cca-item{float: left; width: 190px; text-align: center;}
.cca-img-area{text-align: center;}
.cca-intro{margin: 15px 0;}

/*.cca-item{overflow: hidden; height: 130px; border: 1px solid #ccc; border-radius: 10px; margin-bottom: 10px; padding: 1px;}
.cca-item-current{border: 2px solid #85c3e9; padding: 0;}
.cca-item .fl-l{vertical-align: middle;}
.cca-item .radiobox-item{margin: 50px 20px 0 30px;}
.cca-intro{margin: 40px 20px 0 0;}
.cca-img-area{width: 120px; height:100px; text-align: center; line-height:100px; margin: 15px 20px 0 0; font-size: 0;}
.big-candle{height: 100px;}
.cca-func-area{margin-top: 30px; font-size: 12px;}
.cca-func-area p{line-height: 1.8;}

.candle-item{width: 40px; *width: 38px; vertical-align: middle; display: inline-block; *margin-top:20px;}
.for4 .candle-item{width: 30px; *width: 28px;}
.more-than4{line-height: 50px; }
.more-than4 .candle-item{width: 30px; *width: 28px; *margin-top: 0;}*/

/* 无糖设置 */
.cake-tip-select{}
.cts-img-item{display: block; margin: 0 auto 20px auto;}
.cts-intro{margin: 10px; line-height: 1.5; padding-left: 24px; position: relative; font-size: 12px;}
.cts-intro b{font-size: 14px;}
.cts-intro .check-item{position: absolute; left: 0px; top: 4px; _left: -24px; _top:0;}
