/* 弹框区域 */
.gray-bg{background:#222; opacity:0.9; filter:alpha(opacity=90); position:absolute; top:0; left:0; *zoom:1; width:100%; height:100%; min-height:740px;}
.dialog{width: 460px; border-radius: 10px; min-height: 200px; _height:200px; border: 1px solid #ddd; position: absolute; top:200px; left: 50%; margin-left: -230px; background: #fefefe;
box-shadow: 0 0 10px #333;}
.dialog-head{position: relative; padding: 20px 20px 10px; border-bottom: 2px solid #f4f4f4; height: 26px;}
.dia-title{font-size: 16px; font-weight: bold; line-height: 1.5; color: #ff7e00;}
.close-ico{position: absolute; top:20px; right: 20px; color: #ff7e00; font-weight: bold; cursor: pointer;
height: 16px; width: 16px; background: url(img/close-ico.png) 0 0 no-repeat; text-indent: -100px; overflow: hidden;}
.close-ico:hover{background-position: 0 -20px;}
.dialog-con{padding: 20px 40px 40px;}
.dia-sub-tip .dia-st-tip,
.dia-form-tip{font-size: 14px; line-height: 1.5; color: #333; margin-bottom: 10px;}

/* 直接弹框提示 */
.dia-sub-tip{text-align: center;}
.dia-sub-tip .dialog-head{display: none;}
.dia-sub-tip .dia-st-tip{margin-bottom: 20px; padding-top: 40px;}